@model Mango.Web.Models.CartDTO

<form method="post" asp-action="Checkout" asp-controller="Cart">
    <div>
        <span style="font-size:25px;" class="text-warning">Enter details and place order :</span>
        <br />
    </div>

    <div class="border mt-2">
        <div class="container row">
            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <label class="col-form-label">First Name :</label>
                        <input name="FirstName" class="form-control" />
                    </div>

                    <div class="col-12">
                        <label class="col-form-label">Last Name :</label>
                        <input name="LastName" class="form-control" />
                    </div>

                    <div class="col-12">
                        <label class="col-form-label">Email :</label>
                        <input name="Email" class="form-control" />
                    </div>

                    <div class="col-12">
                        <label class="col-form-label">Phone :</label>
                        <input name="Phone" class="form-control" />
                    </div>

                    <div class="col-12">
                        <label class="col-form-label">PickUp Time :</label>
                        <input id="pickupTime"
                               name="pickupTime"
                               class="form-control"
                               placeholder="Select pickup time" />
                    </div>

                    <div class="col-12">
                        <label class="col-form-label">Card Number :</label>
                        <input name="CardNumber" class="form-control" />
                    </div>

                    <div class="col-12">
                        <label class="col-form-label">CVV :</label>
                        <input name="CVV" class="form-control" />
                    </div>

                    <div class="col-12 pb-4">
                        <label class="col-form-label">Expiry :</label>
                        <input name="ExpiryMonthYear" placeholder="MMYY" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="card mt-4">
                    <div class="card-body">
                        <div class="d-none d-lg-block">
                            <div class="row text-danger">
                                <div class="col-6">Product Details</div>
                                <div class="col-3">Price</div>
                                <div class="col-3">Count</div>
                            </div>
                        </div>

                        <hr />

                        @foreach (var item in Model.CartDetails)
                        {
                            <div class="row h-100">
                                <div class="col-6">
                                    <span style="font-size:20px">@item.ProductName</span>
                                </div>

                                <div class="col-3" style="font-size:11px;">
                                    <span style="font-size:17px;">$@item.Price</span>
                                </div>

                                <div class="col-3" style="font-size:11px;">
                                    <span style="font-size:17px;">@item.Count</span>
                                </div>
                            </div>

                            <hr />
                        }

                        <div class="row">
                            <div class="col-12 text-end pe-4 text-danger">
                                Order Total : $@Model.CartHeader.OrderTotal <br />

                                @if (Model.CartHeader.Discount > 0)
                                {
                                    <span>Discount : $@Model.CartHeader.Discount</span>
                                    <br />
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.CartHeader.CouponCode))
                                {
                                    <span>Coupon : @Model.CartHeader.CouponCode</span>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success form-control">
                                    <span>Place Order</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#pickupTime", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minDate: "today",
            minTime: "10:00",
            maxTime: "22:00",
            minuteIncrement: 15,
            time_24hr: true
        });
    });
</script>